PROJECT_NAME=<My Project Name>

#You should probably leave BASE_DOMAIN as it is, unless you're planning on running this in production.
BASE_DOMAIN=localtest.me

#Just the relative path to the gitlab directories, probably leave as is.
GITLAB_HOME=./mounts/gitlab

#Just make something up here. Postgres is used by Keycloak.
POSTGRES_PASSWORD=

#More things to make something up for.
KEYCLOAK_USER=<keycloak root user>
KEYCLOAK_PASSWORD=<keycloak root password>

#You need to retrieve this by generating a fingerprint based on keycloak's signing certificate
KEYCLOAK_SIGNING_CERT_FINGERPRINT=

#Make something up here as well, probably something long, alphanumeric and url-friendly.
HS_API_ACCESS_TOKEN=<my api access token - not git token>

#You need to get this from Gitlab.
GIT_API_ACCESS_TOKEN=<git api access token, see readme>

#Don't change this, unless you wish to bake & launch your own rstudio image
RSTUDIO_IMAGE_NAME=hs-rstudio-session

#This is probably redundant because of how we are running rstudio, but just make something up here as well
RSTUDIO_PASSWORD=
