mounts/traefik/log/*
mounts/apache/apache/logs/*
docker-compose.dev.central-logging.yml
mounts/traefik/log
mounts/traefik/acme/acme.json
docker-elk/
docker/elasticsearch/
docker/filebeat/
docker/kibana/
docker/logstash/
filebeat-demo/
mounts/elasticsearch/
filebeat.docker.yml
docker_bench.sh
visp-user-access-tool
container-agent
mounts/gitlab/postgresql.conf
archive
WebSpeechRecorderNg
mounts/apache/apache/uploads/*
keycloak-config-with-idps.json
./session-manager
install.sh
.env
dist
certs/*
private/*
node_modules
mounts/apache/saml/certs
mounts/apache/saml/swamid
mounts/postgresql/data
rstudio-router/node_modules
gitlab/sp-cert/*
webclient/node_modules
mounts/rstudio-router/docker-images
webclient
webapi
mounts/gitlab/data
mounts/gitlab/logs
mounts/apache/apache/logs
mounts/apache/apache/vhosts-disabled
mounts/gitlab/apache-logs
mounts/gitlab/shibboleth/certs
mounts/gitlab/config/gitlab-secrets.json
mounts/gitlab/config/ssh_host_ecdsa_key
mounts/gitlab/config/ssh_host_ecdsa_key.pub
mounts/gitlab/config/ssh_host_ed25519_key
mounts/gitlab/config/ssh_host_ed25519_key.pub
mounts/gitlab/config/ssh_host_rsa_key
mounts/gitlab/config/ssh_host_rsa_key.pub
kc-realm-export.json
#docker/session-manager/scripts/container-agent/main.js
mounts/mongo/data/
mounts/mongo/logs/
mounts/matomo/config
