[Unit]
Description=Whisper Transcription Service
After=network-online.target whisper-net.service

[Container]
Image=docker.io/library/visp-whisper:latest
Network=whisper-net.network
Volume=%h/Projects/visible-speech-deployment/mounts/whisper/models:/Whisper-WebUI/models:Z
Volume=%h/Projects/visible-speech-deployment/mounts/whisper/outputs:/Whisper-WebUI/outputs:Z
PodmanArgs=--cgroups=disabled

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=default.target
