http:
  middlewares:
    datalabRedirectSchemeMiddleware:
      redirectScheme:
        scheme: https
        permanent: true
  routers:
    datalabRouterHttp:
      rule: "Host(`datalab.humlab.umu.se`) || Host(`gitlab.datalab.humlab.umu.se`) || Host(`app.datalab.humlab.umu.se`) || Host(`labjs.datalab.humlab.umu.se`) || Host(`octra.datalab.humlab.umu.se`) || Host(`emu-webapp.datalab.humlab.umu.se`)"
      middlewares:
      - datalabRedirectSchemeMiddleware
      service: datalabService
    datalabRouterHttps:
      rule: "Host(`datalab.humlab.umu.se`) || Host(`gitlab.datalab.humlab.umu.se`) || Host(`app.datalab.humlab.umu.se`) || Host(`labjs.datalab.humlab.umu.se`) || Host(`octra.datalab.humlab.umu.se`) || Host(`emu-webapp.datalab.humlab.umu.se`)"
      service: datalabService
      tls:
        certResolver: cr1
  services:
    datalabService:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://apache:80"
