[Unit]
Description=Matomo Analytics
After=network-online.target visp-net.service matomo-db.service
Requires=matomo-db.service

[Container]
ContainerName=matomo
Image=docker.io/library/matomo:5
Network=visp-net.network
Volume=@@PROJECT_DIR@@/mounts/matomo/config:/var/www/html/config:rw,Z
Volume=@@PROJECT_DIR@@/mounts/matomo/logs:/var/www/html/logs:Z
Volume=@@PROJECT_DIR@@/mounts/apache/apache/logs/apache2:/external_logs:ro
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro
PodmanArgs=--cgroups=disabled

[Service]
Restart=unless-stopped
TimeoutStartSec=300

[Install]
WantedBy=default.target
