[Unit]
Description=Session Manager Service
After=network-online.target visp-net.service mongo.service
Requires=mongo.service

[Container]
ContainerName=session-manager
Image=localhost/visp-session-manager:latest
Network=visp-net.network
# Port 8020 not published - accessed via Apache proxy on internal network
EnvironmentFile=@@PROJECT_DIR@@/.env
Environment=LOG_LEVEL=debug
Environment=DEVELOPMENT_MODE=true
Environment=SESSION_MANAGER_KEEP_CONTAINERS=true
Environment=VISP_NETWORK_NAME=systemd-visp-net
Environment=WHISPERX_SOCKET_PATH=/run/whisperx/whisperx.sock
Environment=DOCKER_SOCKET_PATH=/var/run/docker.sock
Secret=visp_api_access_token,type=env,target=HS_API_ACCESS_TOKEN
Secret=visp_mongo_root_password,type=env,target=MONGO_ROOT_PASSWORD
Secret=visp_mongo_root_password,type=env,target=MONGO_ROOT_PASSWORD
Volume=@@PROJECT_DIR@@/mounts/apache/apache/uploads:/tmp/uploads:Z
Volume=@@PROJECT_DIR@@/mounts/session-manager/logs:/session-manager/logs:Z
Volume=@@PROJECT_DIR@@/mounts/session-manager/unimported_audio:/unimported_audio:Z
Volume=/run/user/@@UID@@/podman/podman.sock:/var/run/docker.sock:Z
Volume=@@PROJECT_DIR@@/mounts/repositories:/repositories:Z
Volume=@@PROJECT_DIR@@/mounts/repository-template:/repository-template:Z
Volume=@@PROJECT_DIR@@/mounts/transcription-queued:/transcription-queued:Z
Volume=/tmp/whisperx-api:/run/whisperx:ro,z
PodmanArgs=--cgroups=disabled --dns=10.89.1.1 --dns=10.89.0.1

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
