[Unit]
Description=Traefik Reverse Proxy
After=network-online.target visp-net.service

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:v3.3.7
Network=visp-net.network
PublishPort=8080:80
PublishPort=8443:443
EnvironmentFile=@@PROJECT_DIR@@/.env
Volume=@@PROJECT_DIR@@/mounts/traefik/conf:/etc/traefik:Z
Volume=@@PROJECT_DIR@@/mounts/traefik/acme:/acme:Z
Volume=@@PROJECT_DIR@@/mounts/traefik/log:/var/log:Z
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro
Volume=@@PROJECT_DIR@@/certs:/certs:ro
PodmanArgs=--cgroups=disabled

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
