[Unit]
Description=Matomo MariaDB Database
After=network-online.target visp-net.service

[Container]
ContainerName=matomo-db
Image=docker.io/library/mariadb:10.11
Network=visp-net.network
Environment=MYSQL_DATABASE=matomo_db
Secret=visp_matomo_db_root_password,type=env,target=MYSQL_ROOT_PASSWORD
Secret=visp_matomo_db_user,type=env,target=MYSQL_USER
Secret=visp_matomo_db_password,type=env,target=MYSQL_PASSWORD
Volume=@@PROJECT_DIR@@/mounts/matomo-db/mysql:/var/lib/mysql:Z
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro
PodmanArgs=--cgroups=disabled

[Service]
Restart=unless-stopped
TimeoutStartSec=300

[Install]
WantedBy=default.target
